* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: #f8f4e1;
  color: #54391c;
}

header nav {
  background-color: #d8ae7e;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header nav .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav h1 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

header nav form {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}

form input[type="search"] {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border-radius: 7px;
  border: none;
  background-color: cornsilk;
}

button {
  font-size: 20px;
  font-weight: 150;
  letter-spacing: 1px;
  text-transform: none;
  padding: 9px;
  border-radius: 20px;
  border: none;
  background-color: rgb(161, 170, 55);
  cursor: pointer;
}

h1 {
  text-align: center;
}

section {
  text-align: center;
  margin-top: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
  header nav form {
    flex-direction: column;
    align-items: center;
  }
  form input {
    width: 100%;
    margin: 0 0 10px 0;
  }
  button {
    width: 100%;
  }
}
